/****** 

GLOBAL STYLES
******/ 

html * {

	font-family: 'Raleway', sans-serif;
}

h1.header-text {
	text-align: center;
}

/****** 

THIS IS THE NAVIGATION & LOGO

******/ 

#header-content {
	height: 100px;
}

h1.my-name {
	max-width: 264px;
	float: left;
	padding: 15px;
	font-family:  'Raleway', sans-serif;
	font-size: 28px;
	border: 0.5px solid #bdc3c7;
	margin-left: 10px;
}

#nav_container {
	list-style-type: none;
	margin-bottom: 15px;
	float: right;
	margin-right: 40px;
	margin-top: 25px;
	height: 50px;
	line-height: 38px;
}

#nav_container li {
	display: inline-block;
	margin-bottom: 15px;
}

#nav_container a {
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 0 10px;
	font-size: 15px;
}

#nav_container a:hover {
	text-decoration: underline;
}

.nav-pills li a {
	border-radius: 25px;
}

.nav-pills li.active a {
	background-color: #ecf0f1;
}

.nav-pills li.active a:hover {
	background-color: #ecf0f1;
}
.nav-pills li.active a:focus {
	background-color: #ecf0f1;
}

/****** 

THIS IS THE HERO IMAGE

******/ 


#header-image {
	height: 500px;
	background-color: #3498db;
	margin-bottom: 45px;
	opacity: 1;
}

#hero-text {
	color: white;
	margin-top: 0px;
	padding-top: 175px;
}

#header-text-link {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid;
}

#hero-ctas {
	padding-top: 125px;
	margin: 0 auto;
	text-align: center;
	width: 50%;
}

div.button-wrapper {
	display: inline-block;

}

a.button {
	height: 42px;
	line-height: 2px;
	width: 250px;
	color: white;
	font-weight: 100;
	font-size: 18px;
	padding: 22px 22px;
	background-color: #3498db;
	margin: 15px 15px 0px 15px;
	box-shadow: 0px 0px 1px 1px white;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	letter-spacing: 2px;
}

a.button:hover {
	text-decoration: none;
	color: white;
	background-color: #2980b9;
}

/****** 

THIS IS THE MAIN SITE CONTENT 

******/ 

div.right_column {
    width: 33%;
    float: left;
    padding: 30px;
}
div.middle_column {
   width: 33%;
   float: left;
   padding: 30px;
}

div.left_column {
   width: 33%;
   float: left;
   padding: 30px;
}