/****** 

GLOBAL STYLES
******/ 

html * {
	font-family: 'Raleway', 'sans-serif';
}

h1.header-text {
	text-align: center;
	font-weight: 200;
}

a.button-2 {
	height: 42px;
	width: 250px;
	color: white;
	font-weight: 100;
	font-size: 16px;
	box-shadow: 0px 0px 0px 1px white;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	letter-spacing: 2px;
	padding: 8px;
	margin-left: 40px;
}

a.button-2:hover {
	background-color: rgba(255,255,255,0.3);
	color: white;
}

.blue-back {
	background-color: #419BF9;
}

.green-back {
	background-color: #59CD90;
}

.yellow-back {
	background-color: #FAC05E;
}

.red-back {
	background-color: #FF5E5B;
}

.grey-back {
	background-color: #E2E2E2;
}

.font-light {
	font-weight: 100px;
}

.font-heavy {
	font-weight: bold;
}

/****** 

THIS IS THE FOOTER

******/ 

#footer {
	height: 220px;
	width: 100%;
	background-color: #E2E2E2;
}

#footer-contact ul, #footer-nav ul{
	list-style-type: none;
	line-height: 30px;
	font-size: 15px;
	margin-top: 30px;
}

#footer-nav {
	float: left;
	margin-left: 30px;
}

#footer-contact {
	float: right;
	margin-right: 30px;
}

.footer-header-styling {
	font-weight: bold;
	color: #419BF9;
}

/****** 

THIS IS THE NAVIGATION & LOGO

******/ 

#header-content {
	height: 100px;
	margin-bottom: -17px;
}

h1.my-name {
	max-width: 264px;
	float: left;
	padding: 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 200;
	border: 0.5px solid #bdc3c7;
	margin-left: 10px;
	background-image: url("background.png");
	color:white;
}

#nav_container {
	list-style-type: none;
	margin-bottom: 15px;
	float: right;
	margin-right: 0px;
	margin-top: 25px;
	height: 50px;
	line-height: 38px;
	width: 440px;
}

#nav_container li {
	display: inline-block;
	margin-bottom: 15px;
}

#nav_container a {
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 0 10px;
	font-size: 15px;
}

#nav_container a:hover {
	text-decoration: none;
}

.nav-pills li a {
	border-radius: 25px;
}

.nav-pills li.active a {
	background-color: #ecf0f1;
}

.nav-pills li.active a:hover {
	background-color: #ecf0f1;
}
.nav-pills li.active a:focus {
	background-color: #ecf0f1;
}

/****** 

THIS IS THE HERO IMAGE

******/ 


#header-image {
	height: calc(100vh - 100px);
	background-color: #3C9BDB;	
	margin-top: -17px;
}

#hero-text {
	color: white;
	padding-top: 20vh;
	font-weight: 100;
}

#header-text-link {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid;
}

#hero-ctas {
	padding-top: 15vh;
	margin: 0 auto;
	text-align: center;
	z-index: 1;
	position: relative;
}

.chevron-header {
	/*margin: 0px auto;*/
	vertical-align: center;
	display: block;
	color: white;
	text-align: center;
	margin-top: 22vh;
	font-size: 30px;
	font-weight: 100;
	z-index: 1;
	position: relative;
}

div.button-wrapper {
	display: inline-block;

}

a.button {
	height: 42px;
	line-height: 2px;
	width: 250px;
	color: white;
	font-weight: 100;
	font-size: 18px;
	padding: 22px 22px;
	/*background-color: #3C9BDB;*/
	margin: 15px 15px 0px 15px;
	box-shadow: 0px 0px 0px 1px white;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	letter-spacing: 2px;
}

a.button:hover {
	text-decoration: none;
	color: #3C9BDB;
	background:white;
	box-shadow: 0px 0px 0px 1px white;
}

.main-image-txt {
	white-space: nowrap;
	font-size: 400px;
	color: white;
	opacity: 0.2;
	letter-spacing: 6.88px;
	font-weight: 300;
	text-transform: uppercase;
	display:block;
	margin-top:-420px;
	overflow-x: hidden;
	margin-left: -150px;
}

/****** 

THIS IS THE MAIN SITE CONTENT 

******/ 

#main-content {
	margin-top: -130px;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.section {
	width: 100%;
	height: 93px;
	margin: 20px 0px 20px 0px;
	display:block;
}

.section-txt{
	white-space: nowrap;
	font-size: 148px;
	color:white;
	letter-spacing: 6.88px;
	font-weight: 100;
	text-transform: uppercase;
	display:block;
	margin-top:-168px;
	padding-left: 20px;
	padding-right: 20px;
	overflow-x: hidden;
}

#about-details {
	padding: 0px 60px 0px 60px;
}


/****** 

THESE ARE THE FLIP CARDS 

******/ 

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container {
	width: 100%;
	height: 250px;
	margin: 15px auto;
}

/* flip speed goes here */
.flipper {
	transition: 0.5s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: -1;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	z-index: -2;
	transform: rotateY(180deg);
}

.back-b { 
	background-color: #8e44ad;
}

.back-c {
	background-color: #27ae60;
}

.front {
	width: 100%;
	height: 250px;
	/*background-color: #3498db;*/
	background-color:#f1c40f;
	box-shadow: 1px 1px 1px 1px #bdc3c7;
	text-align: center;
}

.front a {
	color: #FFFFFF;
	font-size: 15px;
	height: 250px;
	line-height: 250px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.back {
	width: 100%;
	height: 250px;
	background-color: #34495e;
	box-shadow: 1px 1px 1px 1px #bdc3c7;
}

.back a{
	color: white;
	font-size: 13px;
	height: 250px;
	line-height: 50px;
	margin-left: 15px;
	letter-spacing: 1px;
}

.back p {
	color:white;
	font-size: 15px;
	padding: 15px;
}


.timeline {
    
    overflow-x: scroll;
    padding:70px 0 10px 0;
    position:relative;
    white-space: nowrap;
}

.entry {
    display:inline-block;
    vertical-align:top;
    color: black;
    padding:10px;
    font-size:12px;
    position:relative;
    border-radius:3px;
    min-width:200px;
    max-width:300px;
    width: 20%;
    margin: auto 0;
    text-align: center;
}

.entry:after {
    content:'';
    display:block;
    width:20px;
    height:20px;
    border-radius: 100%;
    border:0px solid white;
    position:absolute;
    left:50%;
    top:-30px;
    margin-left:-9.5px;
}

.entry:before {
    content:'';
    display:block;
    background:#979797;
    width:1px;
    height:50px;
    position:absolute;
    left:50%;
    top:-20px;
}

.entry:hover:after {
    content:'';
    display:block;
    width:30px;
    height:30px;
    border-radius: 100%;
    border:0px solid white;
    position:absolute;
    left:48%;
    top:-35px;
    margin-left:-9.5px;
}

.entry p {
	margin-bottom: 0px;
	max-width: 230px;
	display:block;
}

.year {
	margin-top: 20px;
	font-weight: bold;
}

.timeline-header {
	color: #979797;
	font-weight: bold;
}

.bar {
    height:1px;
    background: #979797;
    width:100%;
    position:relative;
    top:50px;
    left:0;
}

p .timeline-details {
	max-width: 200px;
}

.blue:after {
	background-color: #419BF9;
}

.green:after {
	background-color: #59CD90;
}

.yellow:after {
	background-color: #FAC05E;
}

/******************************

MEDIA QUERIES FOR LARGER DEVICES (ABOVE 640)

****************************/

@media all and (min-width: 640px) {
#drawer, #drawer-toggle, #drawer-toggle-label {
	display: none;
}

#header-content {
	height: 100px;
	margin-bottom: -17px;
}
}

/******************************

MEDIA QUERIES FOR SMALLER DEVICES (BELOW 640)

****************************/

@media all and (max-width: 640px) {
	

#header-image {
	height: calc(100vh - 50px);
}

#about-details {
	padding: 0px 25px 0px 25px;
}

	.section-txt{
	white-space: normal;
	font-size: 60px;
	margin-top:-128px;
	line-height: 62px;
}

	.contact {
	margin-top:-100px;
	}
	.chevron-header {
		margin-top: 8vh;
}

	#nav_container {
		display: none;
	}

	#header-content {
		height: 50px;
	}

	h1.my-name {
		font-size: 20px;
		padding: 5px;
		margin-top: 10px;
	}

	/* Hamurger Menu */

	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		/* adds animation for all transitions */

		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		margin: 0;
		padding: 0;
		-webkit-text-size-adjust: none;
	}
	/* Makes sure that everything is 100% height */

	html,
	body {
		height: 100%;
		overflow: hidden;
	}
	/* gets the actual input out of the way; 
	we're going to style the label instead */

	#drawer-toggle {
		position: absolute;
		opacity: 0;
	}

	#drawer-toggle-label {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		right: 0px;
		height: 50px;
		width: 50px;
		display: block;
		position: fixed;
		background: rgba(255, 255, 255, .0);
		z-index: 1;
	}
	/* adds our "hamburger" menu icon */

	#drawer-toggle-label:before {
		content: '';
		display: block;
		position: absolute;
		height: 2px;
		width: 24px;
		background: #8d8d8d;
		right: 13px;
		top: 18px;
		box-shadow: 0 6px 0 #8d8d8d, 0 12px 0 #8d8d8d;
	}

	header {
		width: 100%;
		position: fixed;
		right: 0px;
		background: #FFFFFF;
		/* padding: 10px 10px 10px 50px; */
		font-size: 30px;
		line-height: 30px;
		z-index: 0;
	}

	/* drawer menu pane - note the 0px width */

	#drawer {
		position: fixed;
		top: 0;
		right: -300px;
		height: 100%;
		width: 300px;
		background: #3C9BDB;
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}

	#drawer ul {
		list-style-type: none;
		font-size: 20px;
	}

	#drawer li {
		border-bottom: 1px solid white;
	}

	#drawer a {
		padding: 20px;
		text-decoration: none;
		text-transform: uppercase;
		color: white;
		font-weight: 100;
		line-height: 50px;
	}

	/* actual page content pane */

	#page-content {
		margin-right: 0px;
		margin-top: 50px;
		width: 100%;
		height: calc(100% - 50px);
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}

	/* checked styles (menu open state) */

	#drawer-toggle:checked ~ #drawer-toggle-label {
		height: 100%;
		width: calc(100% - 300px);
		background: rgba(255, 255, 255, .8);
	}

	#drawer-toggle:checked ~ #drawer-toggle-label,
	#drawer-toggle:checked ~ header {
		right: 300px;
	}

	#drawer-toggle:checked ~ #drawer {
		right: 0px;
	}

	#drawer-toggle:checked ~ #page-content {
		margin-left: -300px;
	}

	/* On full screen width, hide it 
	.hamburger-menu {
		display: none;
		padding: 10px 0;
	}*/

}

/******************************

MEDIA QUERIES FOR SMALLER DEVICES (BELOW 420)

****************************/

@media all and (max-width: 420px) {
	
	#footer {
	height: 370px;
	width: 100%;
	background-color: #E2E2E2;
}

#footer-contact ul, #footer-nav ul{
	list-style-type: none;
	line-height: 30px;
	font-size: 15px;
	margin-top: 10px;
}

#footer-nav {
	float: left;
	margin-left: 30px;
	margin-top: 30px;
}

#footer-contact {
	float: left;
	margin-left: 30px;
}
